# Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tg_crm?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# App
NODE_ENV="development"
PORT="3001"
JWT_SECRET="replace_me"

# Telegram Local API
TELEGRAM_BOT_API_BASE="http://localhost:8081"
